<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Tycho Tutorial" sequenceNumber="1599312538">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.16.0.v20200604-0951"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.16.0.v20200604-0951"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.18.400.v20200604-0540"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.2.600.v20200521-1852"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.800.v20200514-1529"/>
      <repository id="eclipse-2020-06" location="https://download.eclipse.org/releases/2020-06/"/>
    </location>
  </locations>
</target>
